/target/

/.idea/
*.iml

*.class
*.jar
*.war
*.ear

*.log
*.tmp
*.temp
*.swp

.DS_Store
Thumbs.db
Desktop.ini

.gradle/
build/

.project
.classpath
.settings/

/target/surefire-reports/
jacoco.exec
coverage/
cobertura.ser
.pytest_cache/

.env
*.keystore
*.jks

/out/
/generated-sources/