/target/
/dependency-reduced-pom.xml

/.idea/**/workspace.xml
/.idea/**/tasks.xml
/.idea/**/usage.statistics.xml
/.idea/**/shelf/
/.idea/**/httpRequests/
/.idea/**/dataSources/
/.idea/**/dataSources.local.xml
/.idea/**/mavenHomeManager.xml
/.idea/copilot.data.migration.*.xml
/.idea/dictionaries/
/.idea/modules.xml
*.iml

*.class
*.jar
*.war
*.ear

*.log
*.tmp
*.temp
*.swp

.DS_Store
Thumbs.db
Desktop.ini

.gradle/
build/

.project
.classpath
.settings/

/target/surefire-reports/
jacoco.exec
coverage/
cobertura.ser
.pytest_cache/

.env
*.keystore
*.jks

/out/
/generated-sources/
